.row{
    margin: 15px;
}

.col-sm-3 li{
    list-style: none;
    border:2px black;
}

.card{
float: left;
    margin: 5px;
}

.card-title{
    color: #09c4ce;
}
.navbar-collapse{
    float: left;
}
.navbar{
    border: black;
}

.nav-link{
    color: rgb(218, 212, 212);
}
.footer{
    background-color: black;
    color: rgb(218, 212, 212);
    height: 70px;
    text-align: center;
    padding-top: 20px;
}
.footer span{
    color: #09c4ce;
}